window {
	border: none;
	background: none;
	font-size: 18px;
	color: #fff;
}

#workspaces button {
	padding: 0;
}

#workspaces button:focus {
	border: none;
}

#clock {
	font-size: 16px;
}

label {
	padding: 0 5px 0 5px;
	min-width: 20px;
	color: #fff;
}

#workspaces button:not(.focused) label {
	color: #aaa;
}

#battery.warning {
	color: #ffb52a;
}

#battery.critical {
	color: #e74c3c;
}

#battery.charging {
	color: #2ecc71;
}

#custom-emails, #custom-tasks {
	background: #ffb52a;
	border-top: solid #996c18 2px;
	color: #111;
}

#tray {
	margin: 0 5px 0 5px;
}
