window {
	border: none;
	background: none;
	font-size: 18px;
	color: #fff;
}

#workspaces button {
	padding: 0;
}

#workspaces button:focus {
	border: none;
}

#clock {
	font-size: 16px;
}

label {
	padding: 0 5px 0 5px;
	margin-bottom: 3px;
	min-width: 20px;
}

#workspaces button:not(.focused) label {
	color: #aaa;
}

#battery.charging {
	color: #ffb52a;
}

#tray {
	margin-right: 5px;
}
