/* Theming browser pages */
:root {
	--theme-bg:            #282828;
	--theme-bg-darker:     rgba(12, 12, 13, .2);
	--theme-fg:            #fff;
	--theme-primary:       #cd3c1b;
	--theme-primary-alpha: rgba(205, 60, 27, .5);

	--in-content-category-text: var(--theme-fg) !important;
	--in-content-page-color:    var(--theme-fg) !important;
	--in-content-text-color:    var(--theme-fg) !important;
	--sidebar-text-color:       var(--theme-fg) !important;
	--text-color:               var(--theme-fg) !important; /* about: debugging-new#/runtime/this-firefox */

	--bg-color:                       var(--theme-bg) !important;
	--aboutProfiles-table-background: var(--theme-bg) !important;
	--in-content-box-background:      var(--theme-bg) !important;
	--in-content-box-info-background: var(--theme-bg) !important;
	--in-content-page-background:     var(--theme-bg) !important;
	--in-content-table-background:    var(--theme-bg) !important;

	--in-content-border-focus:                  var(--theme-primary) !important;
	--in-content-category-selected-text:        var(--theme-primary) !important;
	--in-content-category-text-selected-active: var(--theme-primary) !important;
	--in-content-category-text-selected:        var(--theme-primary) !important;
	--in-content-link-color-hover:              var(--theme-primary) !important;
	--in-content-link-color:                    var(--theme-primary) !important;
	--in-content-primary-button-background:     var(--theme-primary) !important;
	--in-content-button-background-mixed:       var(--theme-primary) !important;
	--link-color-hover:                         var(--theme-primary) !important;
	--link-color:                               var(--theme-primary) !important;
	--in-content-button-background-hover:       var(--theme-primary) !important;

	--card-outline-color:              var(--theme-primary-alpha) !important;
	--in-content-border-active-shadow: var(--theme-primary-alpha) !important;

	--in-content-box-background-active:   var(--theme-bg-darker) !important;
	--in-content-box-background-hover:    var(--theme-bg-darker) !important;
	--in-content-table-header-background: var(--theme-bg-darker) !important;

	--in-content-border-active-shadow: transparent !important;
	--in-content-border-active:        transparent !important;
	--in-content-box-background-odd:   transparent !important;
	--in-content-box-border-color:     transparent !important;
}

@-moz-document url-prefix(about:) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body {
	  background: var(--theme-bg) !important;
	  color: var(--theme-fg) !important;
	}

	.detail-row-complex, .detail-row-label, .detail-row-value /* about:addons > extensions */ {
	  text-shadow: none !important;
	}

	#errorPageContainer /* about:robots */,
	.warningBackground /* about:serviceworkers */ {
	  background: none !important;
	}

	.message-bar,
	.service-worker-multi-process,
	.notice, .contenttable, /* about:plugins */
	.warningMessage, /* about:serviceworkers */
	.stats, .log /* about:webrtc */ {
	  background: var(--theme-darker-bg) !important;
	  color: var(--theme-fg) !important;
	  border: none !important;
	}

	#tabsToggle /* about:sessionrestore */ {
	  color: var(--theme-primary) !important;
	}

	.checkbox-check, input[type="checkbox"] {
		background-color: -moz-field !important;
	}
}

@-moz-document domain("open.rocket.chat") {
	:root {
		/* thinner sidebar */
		--sidebar-default-padding: 8px !important;

		/* thinner member list */
		--flex-tab-width: 300px !important;

		/* shorter header */
		--header-padding: 8px !important;

		/* smaller user list entries */
		--sidebar-account-thumb-size: 16px !important;
	}

	/* fixed-width names */
	.message .user {
		width: 120px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	/* hide @username */
	.message-alias {
		display: none;
	}

	/* move message edits and time to the right */
	.info {
		float: right;
		margin-right: 40px !important; /* leave some space for the hover items */
	}

	/* not-so-big emojis */
	.emoji.big, .emojione.big {
		height: inherit !important;
	}

	/* shorter room topic */
	.announcement {
		height: 24px !important;
	}

	/* smaller sidebar buttons */
	.sidebar__toolbar-button {
		font-size: 14px !important;
	}

	/* less margin next to profile picture in sidebar */
	sidebar__header-thumb {
		margin: 0 0 0 8px !important;
	}

	/* smaller user list entries */
	.rc-member-list__user {
		padding 4px 0 !important;
	}
	.rc-member-list__username {
		font-size: 13px !important;
	}

	/* hide formatting bar */
	.rc-message-box__toolbar-markdown {
		display: none;
	}

	/* fix position of date dividers */
	.message::before, .message::after {
		position: unset !important;
		border-top: none !important;
	}

	.message {
		margin-top: 8px !important;
	}

	/* fix position of unread dividers */
	.body::before, .body::after {
		top: -5px !important;
	}
}
