/* Theming browser elements */
:root {
	--theme-bg: #282828;
	--theme-fg: #fff;
	--theme-primary: #cd3c1b;

	--sidebar-width: 30px;
	--sidebar-expanded: 230px;

	--toolbar-bgcolor: var(--theme-bg) !important;
	--toolbar-bgimage: none;
	--toolbar-non-lwt-bgcolor: var(--theme-bg) !important;
	--lwt-toolbar-field-focus: var(--theme-bg) !important;
	--lwt-toolbar-field-background-color: var(--theme-bg) !important;
	--chrome-content-separator-color: none !important;
	--chrome-background-color: var(--theme-bg) !important;
	--chrome-secondary-background-color: var(--theme-bg) !important;
	--toolbox-border-bottom-color: transparent !important; /* below toolbox bar */
	--tabs-border-color: transparent !important; /* below menu bar */
}

@-moz-document url("chrome://browser/content/browser.xul") {
	#TabsToolbar {
		visibility: collapse !important;
	}
}

/* toolbox */
#tabbrowser-tabs {
	visibility: collapse !important;
}

#back-button, #forward-button, .urlbar-history-dropmarker {
	display: none;
}

#urlbar {
	text-align: center;
	border: none !important;
	border-radius: 0px !important;
}

#nav-bar:not([customizing]) {
	margin-top: -42px;
}

:root:not([customizing]) :hover > #nav-bar,
#nav-bar:focus-within,
#urlbar[focused="true"],
#identity-box[open="true"],
#navigator-toolbox:hover > #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive="true"]) ~ #nav-bar:not([customizing]) {
	margin-top: 0;
}

.private-browsing-indicator {
	display: block;
	position: absolute !important;
	top: 4px;
}

.browser-toolbar:not(.titlebar-color) {
	background-image: none !important;
}

/* sidebar */

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header,
#sidebar :-moz-any(#topmenu, #topshadow), #sidebar-box ~ #sidebar-splitter {
	display: none;
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"]
:-moz-any(#sidebar, #sidebar-header) {
  position: relative !important;
  min-width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  transition: 0.1s !important;
  z-index: 1;
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"]:hover
:-moz-any(#sidebar) {
	background-color: var(--toolbar-bgcolor) !important;
	min-width: var(--sidebar-expanded) !important;
	max-width: var(--sidebar-expanded) !important;
	margin-right: calc((var(--sidebar-expanded) - var(--sidebar-width)) * -1) !important;
	z-index: 1;
	position: relative !important;
	transition: 0.1s !important;
}
