[Unit]
Description=Gnome Keyring

[Service]
ExecStart=/usr/bin/gnome-keyring-daemon -sf
ExecReload=/usr/bin/gnome-keyring-daemon -rf

[Install]
WantedBy=default.target
