[Unit]
Description=Gnome Keyring
Before=multi-user.target

[Service]
ExecStart=/usr/bin/gnome-keyring-daemon -sfc pkcs11,secrets
ExecReload=/usr/bin/gnome-keyring-daemon -rfc pkcs11,secrets

[Install]
WantedBy=multi-user.target
